/* @group Breakpoints */
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  lg : 1024px,
  xl : 1440px
) !default;

$sizes: map-keys($breakpoints);

$s  : 0;
$m  : 640px;
$l  : 1024px;
$lg : 1024px;
$xl : 1440px;

/* @end */

/* @group Colors */

$blue: 240;
$green: 100;
$red: 0;
$orange: 25;
$yellow: 50;

$saturation: 80;
$factor: 9.5;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;
$blue-100: #ebf8ff;
$blue-400: #63b3ed;
$orange-100: #FEFAF1;
$orange-200: #FBECCC;
$orange-300: #F5D396;
$orange-400: #EAAF64;
$orange-500: #DE8D49;
$orange-600: #CE7035;
$orange-700: #B25C30;
$orange-800: #90472A;
$orange-900: #713824;

/* @end */

/* @group Shadows */

$shadow-md:  0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);


/* @end */

/* @group Distances */

// Use for margins and paddings

$zero: 0rem;
$dxs: 0.125rem;
$d1: 0.25rem;
$d2: 0.5rem;
$d3: 0.75rem;
$d4: 1rem;
$d5: 1.25rem;
$d6: 1.5rem;
$d8: 2rem;
$d10: 2.5rem;
$d12: 3rem;
$d16: 4rem;
$d20: 5rem;
$d24: 6rem;
$d32: 8rem;
$d40: 10rem;
$d48: 12rem;
$d56: 14rem;
$d64: 16rem;

$auto: auto;




/* @end */

/* @group Border radius */

$rounded-sm: 0.125rem;
$rounded: 0.25rem;
$rounded-md: 0.375rem;
$rounded-lg: 0.5rem;
$rounded-full: 9999px;


/* @end */

/* @group Font-sizes */

$text-xxs: .6rem;
$text-xs: .75rem;
$text-sm: .875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-5xl: 3rem;
$text-6xl: 4rem;

/* @end */

/* @group Widths & Heights */

$w-xs: 20rem;
$w-sm: 24rem;
$w-md: 28rem;
$w-lg: 32rem;
$w-xl: 36rem;
$w-2xl: 42rem;
$w-3xl: 48rem;
$w-4xl: 56rem;
$w-5xl: 64rem;
$w-6xl: 72rem;

/* @end */

/* @group Leadings */

$leading-none: 1;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;

/* @end */

/* @group Fonts */

$montserrat: 'Montserrat', sans-serif;

/* @end */

/* @group Defaults */

$light-blue: #f7fafc;


$bg: lighten(orange,48);

$text-color: lighten(invert($bg),5);
$text-color-ori:  #545454;
$accent-color: darken(invert($bg),30);

/* @group Theme */



/* @group Generic tags overwrides */


$p-mb: $d6;
$p-lh: $leading-normal;

$container-width: $w-2xl;


$font-family: $montserrat;
$font-bold: $font-family;
$font-italic: $font-family;
$font-size: $text-lg;
$font-weight: 400;

$headings-font: $montserrat;
$headings-color: $text-color;
$headings-mt: $d16;
$headings-mb:$d4;

$h1-font: $headings-font;
$h2-font: $headings-font;
$h3-font: $headings-font;
$h4-font: $headings-font;
$h5-font: $headings-font;
$h6-font: $headings-font;

$a-color: $accent-color;
$a-text-decoration: underline;
$a-display: inline;
$hr-bg: $accent-color;


$inline-code-bg: lighten($bg,20);
$inline-code-color: darken($text-color,20);

$lists-color: $accent-color;
$ol-color: $lists-color;
$ul-color: $lists-color;

$blockquote-border-size: 2px;
$blockquote-left-border-color: $text-color;

$selected-text-color: white;
$selected-text-bg: darken($text-color,40);


$pre-font-size: $text-xxs;
$pre-border-radius: $rounded;

$footnote-color: $text-color;
/* @end */

/* @group Components overwrites */
$navbar-bg: lighten($bg,20);
$navbar-button-border: 0px;
$navbar-button-box-shadow: $shadow-md;
$navbar-button-hover: lighten($bg,40);
$button-close-bg: lighten(invert($bg),90);

$zettel-link-bg: lighten($bg,20);
$zettel-split-bg: darken($bg,5);

$zettel-links-hover: lighten($bg,40);
$zettel-split-hover-bg: $zettel-links-hover;
$zettel-link-hover-bg: $zettel-links-hover; 


$command-visibility: hidden;
$command-bg: lighten(invert($bg),10);
$command-border-r: $rounded-lg;
$fastsearch-input-color: $bg;
$fastsearch-caret-color: $blue-400;
$fastsearch-placeholder-color:$bg;
$search-results-color: $bg;
$search-results-focus-bg: #3A3C3F;
$search-results-p: $d3;

$sidenav-border: 3px dotted lighten($bg,20);
$sidenav-box-shadow: 0px;
$sidenav-box-shadow2: 0 4px 6px -1px rgba(darken(invert($bg),10),0.3), 0 2px 4px -1px rgba(darken(invert($bg),30),0.3);


$zoom-overlay-bg: $bg;
/* @end */

/* @group Components overwrites */
$navbar-bg: lighten($bg,20);
$navbar-button-border: 0px;
$navbar-button-box-shadow: $shadow-md;
$navbar-button-hover: lighten($bg,40);
$button-close-bg: lighten(invert($bg),90);

$zettel-link-bg: lighten($bg,20);
$zettel-split-bg: darken($bg,5);

$zettel-links-hover: lighten($bg,40);
$zettel-split-hover-bg: $zettel-links-hover;
$zettel-link-hover-bg: $zettel-links-hover; 


$command-visibility: hidden;
$command-bg: lighten(invert($bg),10);
$command-border-r: $rounded-lg;
$fastsearch-input-color: $bg;
$fastsearch-caret-color: $blue-400;
$fastsearch-placeholder-color:$bg;
$search-results-color: $bg;
$search-results-focus-bg: #3A3C3F;
$search-results-p: $d3;

$sidenav-border: 3px dotted lighten($bg,20);
$sidenav-box-shadow: 0px;
$sidenav-box-shadow2: 0 4px 6px -1px rgba(darken(invert($bg),10),0.3), 0 2px 4px -1px rgba(darken(invert($bg),30),0.3);


$zoom-overlay-bg: $bg;
/* @end */

/* @end */

/* @end */




