 #fastSearch { 
 visibility: $command-visibility;
 z-index: 200;
 position: fixed;
 width: 550px;
 top: 120px;
 left: 50%;
 color: #a0aec0;
 overflow: hidden;
 background-color: $command-bg;
 margin-left: -275px;
 border-radius: $command-border-r;
--bg-opacity: 0.90;
 box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.fastSearch__input__container {
	padding: 1rem;
}      

#fastSearch input { 
  
  border: none;
  outline: none;
  background-color: transparent;
  //margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: $fastsearch-input-color;
  caret-color: $fastsearch-caret-color;
}
#fastSearch input::placeholder {
	color: $fastsearch-placeholder-color;
	font-weight: lighter;
}

#searchResults li a {
	padding: $search-results-p;
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: $search-results-color;
	
}

#searchResults li { 
	font-size: $text-base; 
	
}

#searchResults { 
	margin-bottom: 0;
	
}

#searchResults {
	a:focus { 
	outline: 0;	
	background-color: $search-results-focus-bg; 
	color: #fff; 
	}
	a:focus :last-child {
		//background: white;
	}
}

