<!-- 

Search for [[wikilink]] instead of "wikilink" when finding backlinks to prevent false positives: Otherwise, for a note whose filename/title is "now", every note containing the word "now" would be appended as a backlink)

-->  

{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}
{{ $filename := .File.BaseFileName }}
{{ $wikilink :=  printf "%s%s%s" $firstBracket $filename $lastBracket }}

{{- $.Scratch.Add "backlinks" slice -}}
<h3>Referenciada en:</h3>

<ul>
{{- range .Site.RegularPages -}}
	{{ if (findRE $wikilink .Content) }}
		{{ $.Scratch.Add "backlinks" (dict .Permalink .Title) }}
		<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
	{{ end }}
{{- end -}}

{{- $backlinks := $.Scratch.Get "backlinks" -}}   

{{ if le (len $backlinks) 0 }}
	<li>No hay referencias</li>
{{ end }}
</ul>



<!-- 
{{/*
{{ if gt (len $backlinks) 0}}

	<h3>Referenciada en</h3>
<ul>
	{{ range $backlinks }}
		
		{{ range $permalink, $title := . }}
			<li><a href="{{ $permalink }}">{{ $title }}</a></li>
			
		{{ end }}
	{{ end }}
</ul>
{{ else }}
{{ end }}
*/}} 
-->

