<!-- 
	
	=======
	Wiklinks
	=======
 -->
 
{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}

{{ $wikiregex := "\\[\\[([^/]+?)\\]\\]" }}

{{ $wikilinks := .Content | findRE $wikiregex }}

{{ $.Scratch.Add "content" .RawContent }}

{{ range $wikilinks }}

	{{ $content := . | replaceRE $wikiregex "$1" }}
	{{ $content := $content | replaceRE "\\?" "\\?" }}

	{{ $wikilink :=  printf "%s%s%s" $firstBracket $content $lastBracket }}
	
	{{ $anchorized := $content | anchorize }}

	{{ $link := printf "%s%s%s%s%s%s" "<a href=\"" $anchorized ".html" "\">" $content "</a>" }}
	
	{{ $noteContent := $.Scratch.Get "content" | replaceRE $wikilink $link }}
	{{ $.Scratch.Set "content" $noteContent }}
{{ end }}

{{ $content := .Scratch.Get "content" }}

<!-- 
	====
	TAGS
	====
	
 -->


<!-- 
	===================================
	Regular tags followed by a new line 
	===================================

	#mytag/with-no-espaces

	New line
-->
{{ $tagregexN := "#([^#\\s\\,:}]+)\\n" }}


<!-- 
	===================================
	Regular tags followed by a hashtag
	===================================

	#mytag/with-no-espaces

	New line
-->
{{ $tagregexH := "#([^#\\s\\,:}]+)#" }}

<!-- 
	======================
	Tags containing spaces 
	======================

	#mytag/with espaces#
-->
{{ $tagregexS := "#([^\\s^#][^#]*[^\\s^#])#" }}


<!-- 
	============
	Regular tags 
	============

	#mytag
	#mytag/could/be/nested
-->
{{ $tagregex := "[^/a-z]#([^#\\s\\,:}]+)" }}


{{ $content := $content | replaceRE $tagregexN "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>\n"  | safeHTML }}

{{ $content := $content | replaceRE $tagregexS "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}

{{ $content := $content | replaceRE $tagregexH "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}

{{ $content := $content | replaceRE $tagregex "\n<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}


<!--
	======================
	Misc regex replacement
	======================
 -->
 
{{ $content := $content | replaceRE "->" "→" }}
{{ $content := $content | replaceRE "::([^/]+?)::" "<mark>$1</mark>" }}
{{ $content := $content | replaceRE "==([^/]+?)==" "<mark>$1</mark>" }}

{{ $content | markdownify }}
