<!-- Regex logic that sanitizes wikilinks spaces -->

{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}

<!-- @todo: does regex work with many wikilinks inside of same paragraph? --> 
{{ $wikiregex := "\\[\\[([^/]+)\\]\\]" }}

{{ $subgroup1 := .Content | findRE $wikiregex }}

{{ $.Scratch.Add "content" .Content }}

{{ range $subgroup1 }}
	{{ $rawItem := . }}
	{{ $capturedGroup := $rawItem | replaceRE $wikiregex "$1" }}
	{{ $itemPattern :=  printf "%s%s%s" $firstBracket $capturedGroup $lastBracket }}
	{{ $anchorized := $capturedGroup | anchorize }}
	
	{{ $link := printf "%s%s%s%s%s%s" "<a href=\"" $anchorized ".html" "\">" $capturedGroup "</a>" }}
	
	{{ $tmpContent := $.Scratch.Get "content" | replaceRE $itemPattern $link }}
	{{ $.Scratch.Set "content" $tmpContent }}
{{ end }}

{{ $.Scratch.Get "content" | safeHTML }}

