<!-- 
	
	=======
	Wiklinks
	=======
	
	@todo:
	- wikilinks not working for notes with question/exclamation marks
	- see lista-de-preguntas-interesantes-a-responder.html
 -->
 
{{ $firstBracket := "\\[\\[" }}
{{ $lastBracket := "\\]\\]" }}

{{ $wikiregex := "\\[\\[([^/]+?)\\]\\]" }}

{{ $wikilinks := .Content | findRE $wikiregex }}

{{ $.Scratch.Add "content" .RawContent }}

{{ range $wikilinks }}

	{{ $content := . | replaceRE $wikiregex "$1" }}
	{{ $content := $content | replaceRE "\\?" "\\?" }}

	{{ $wikilink :=  printf "%s%s%s" $firstBracket $content $lastBracket }}
	
	{{ $anchorized := $content | anchorize }}

	{{ $link := printf "%s%s%s%s%s%s" "<a href=\"" $anchorized ".html" "\">" $content "</a>" }}
	
	{{ $noteContent := $.Scratch.Get "content" | replaceRE $wikilink $link }}
	{{ $.Scratch.Set "content" $noteContent }}
{{ end }}

{{ $content := .Scratch.Get "content" }}

<!-- 
	
	====
	TAGS
	====
	
	
	@todo: Fix regex for cases →
	- 1-único-ejercicio-por-área-de-interés.html
	- antes-de-pensar-en-crear-cursos
	- Categorizamos la información para facilitar el aprendizaje
	- Más vale pájaro en mano que ciento volando
 -->

<!-- Tags containing spaces ended with a newline -->
{{ $tagregex3 := "#([^\\s^#][^#]*[^\\s^#])#\\n" }}

<!-- Tags containing spaces ended with a space -->
{{ $tagregex2 := "#([^\\s^#][^#]*[^\\s^#])#\\s" }}

<!-- Regular tags -->
{{ $tagregex := "#([^#\\s\\,]+)" }}
{{ $tagregexB := "#([^#\\s\\,]+)#" }}

{{ $content := $content | replaceRE $tagregex3 "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a><br>"  | safeHTML }}

{{ $content := $content | replaceRE $tagregex2 "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}

{{ $content := $content | replaceRE $tagregexB "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}

{{ $content := $content | replaceRE $tagregex "<a class=\"hashtag\" onclick=\"focusTag(this)\">$1</a>"  | safeHTML }}


<!-- 
	
	======================
	Misc regex replacement
	======================
	
 -->
{{ $content := $content | replaceRE "->" "→" }}

{{ $content := $content | replaceRE "::([^/]+?)::" "<mark>$1</mark>" }}

{{ $content := $content | replaceRE "==([^/]+?)==" "<mark>$1</mark>" }}

{{ $content | markdownify }}

